{
  "presets": [
    "es2017",
    "stage-0",
    "react"
  ],
  "plugins": [
    ['react-hot-loader'],
    ['lodash'],
    ['transform-decorators'],
    ['transform-decorators-legacy'],
    ['transform-object-rest-spread', { 'useBuiltIns': true }],
    ['transform-function-bind'],
    ['transform-class-properties'],
    ['transform-react-display-name'],
    ['syntax-dynamic-import']
  ]
}

