.container {
  display: inline-block;
  justify-content: center;
  width: 100vw;
}

.navigation {
  background-color: #2a333c;
  color: white;
}

.search {
  align-items: center;
  background-color: #c12127;
}
